<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <ng-container *ngIf="!workCard"><h4>Dodaj pracownika</h4></ng-container>
      <ng-container *ngIf="workCard"><h4>Edytuj pracownika</h4></ng-container>
      <h5>Podaj informacje o czasie i warunkach pracy.</h5>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="form-group">
        <label for="name_sur">Imię i nazwisko</label>
        <select id="name_sur" class="form-control" name="name" [(ngModel)]="model.workerId">
          <option *ngFor="let workerObject of workers"
                  [value]="workerObject.id">{{ workerObject.firstName + ' ' + workerObject.lastName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="work_day">Data wykonania pracy</label>
        <input id="work_day" type="date" name="date_of_work" class="form-control" [(ngModel)]="model.dateOfWork" >
      </div>
      <div class="form-group">
        <label for="work_start">Rozpoczęcie pracy</label>
        <input id="work_start" type="time" name="work_start" class="form-control" step="2" [(ngModel)]="model.timeOfBegin" >
      </div>
      <div class="form-group">
        <label for="work_end">Zakończenie pracy</label>
        <input id="work_end" type="time" name="work_end" class="form-control" step="2" [(ngModel)]="model.timeOfEnd">
      </div>
      <div class="form-group">
        <label for="harmful_hours">Liczba godzin w warunkach szkodliwych</label>
        <input type="text" id="harmful_hours" name="harmfulHours" class="form-control" required
               [(ngModel)]="model.harmfulHours" #harmfulHours="ngModel">
        <ng-container *ngIf="harmfulHours.invalid && harmfulHours.touched">
          <div class="alert alert-danger" role="alert" *ngIf="harmfulHours.errors.required">
            Liczba godzin jest wymagana. Podaj liczbę godzin.
          </div>
        </ng-container>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!workCard" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid"
            (click)="createWorkCard()">Zapisz
    </button>
    <button *ngIf="workCard" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid"
            (click)="updateWorkCard()">Zmodyfikuj
    </button>
  </div>
</ng-template>

<button *ngIf="workCard" (click)="open(content)">Edytuj</button>
<button *ngIf="!workCard" type="button" class="btn btn-warning float-end" (click)="open(content)">
  <svg xmlns="http://www.w3.org/2000/svg"
       width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
  </svg>
</button>
