<div class="container-fluid">
    <h2 class="salary-title">Pensje pracowników</h2>
    <button class="button__primary" (click)="openSelectWorkersModal()">Oblicz pensję pracowników</button>
    <div class="white-background table-margin">
        <table class="my-table">
            <thead>
                <tr>
                    <td>Lp.</td>
                    <td>Imię i nazwisko</td>
                    <td>Miesiąc</td>
                    <td>Rok</td>
                    <td>Podstawa pensji</td>
                    <td>Nadgodziny</td>
                    <td>Godziny nocne</td>
                    <td>Warunki szkodliwe</td>
                    <td>Brygadzista</td>
                    <td>Pensja brutto</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>