<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <h4 *ngIf="!materialUsed">Dodaj materiał</h4>
      <h4 *ngIf="materialUsed">Edytuj materiał</h4>
      <h5>Podaj informacje o rodzaju i ilości wbudowanego tego dnia materiału.</h5>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="form-group">
        <label for="name_stuff">Nazwa materiału</label>
        <select id="name_stuff" name="name_stuff" class="form-control" [(ngModel)]="model.materialId" #name_stuff="ngModel" required>
          <option *ngFor="let material of materials" [value]="material.id">{{material.name}} ({{material.unit}})</option>
        </select>
        <ng-container *ngIf="name_stuff.invalid && name_stuff.touched">
          <div class="alert alert-danger" role="alert" *ngIf="name_stuff.errors.required">
            Wybierz materiał.
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="quantity">Ilość</label>
        <input type="text" id="quantity" name="quantity" class="form-control" required [(ngModel)]="model.quantity" #quantity="ngModel">
      </div>
      <ng-container *ngIf="quantity.invalid && quantity.touched">
        <div class="alert alert-danger" role="alert" *ngIf="quantity.errors.required">
          Ilość jest wymagana. Podaj ilość.
        </div>
      </ng-container>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!materialUsed" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="createMaterialUsed()">Zapisz</button>
    <button *ngIf="materialUsed" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="updateMaterialUsed()">Zaktualizuj</button>
  </div>
</ng-template>
<button class="button__primary" *ngIf="materialUsed" (click)="open(content)" mat-raised-button>Edycja</button>
<button *ngIf="!materialUsed" type="button" class="btn btn-warning float-end" (click)="open(content)"><svg xmlns="http://www.w3.org/2000/svg"
    width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
  </svg>
</button>
