<div class="container-fluid">
    <h2 class="cost-title">Koszty budowy</h2>
    <div class="white-background table-margin">
        <table class="my-table">
            <thead>
                <tr>
                    <td>Lp.</td>
                    <td>Miesiąc</td>
                    <td>Rok</td>
                    <td>Koszty pracowników</td>
                    <td>Koszty sprzętu</td>
                    <td>Koszty materiałów</td>
                    <td>Koszty miesięczne</td>
                    <td>Koszt całkowity</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>