<div class="container-fluid">
<p class="machines-title my-3">Maszyny</p>
<div class="white-background table-margin">
    <table>
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Numer maszyny</th>
                <th>Typ</th>
                <th>Operator</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
