<div class="container-fluid">
  <app-used-machine-modal
    [equipmentDailyReportId]="equipmentDailyReport.id"
    (refreshFromModal)="refreshData.emit()">
  </app-used-machine-modal>
<p class="machines-title my-3">Maszyny</p>
<div class="white-background table-margin">
    <table>
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Numer maszyny</th>
                <th>Typ</th>
                <th>Operator</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usedEquipment of usedEquipments">
                <td>{{ usedEquipment.id }}</td>
                <td>{{ usedEquipment.machine.number}}</td>
                <td>{{ usedEquipment.machine.name}}</td>
                <td>{{ usedEquipment.worker.firstName + ' ' + usedEquipment.worker.lastName}}</td>
                <td><app-used-machine-modal
                  [usedEquipment]="usedEquipment"
                  [equipmentDailyReportId]="equipmentDailyReport.id"
                  (refreshFromModal)="refreshData.emit()">
                </app-used-machine-modal></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
