<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-building-details></app-building-details>
    </div>
  </div>
  <div class="row">
    <div class="col-4 pt-4 pb-4">
      <app-building-personnel></app-building-personnel>
    </div>
    <div class="col-8 pt-4 pb-4">
      <app-daily-reports></app-daily-reports>
    </div>
  </div>
</div>
