<div class="container-fluid">
    <app-comment-modal></app-comment-modal>
<h2 class="comments-title">Uwagi</h2>
<div class="table">
    <div class="white-background table-margin">
        <table>
            <thead>
                <tr>
                    <td>Numer raporu</td>
                    <td>Sporządził</td>
                    <td>Akcja</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>