<div class="white-container building-details">
  <p class="box-title">Kadra</p>
  <div class="row">
    <div class="col-md-4">
      <div class="general-label">Kierownik budowy:</div>
    </div>
    <div class="col-md-8">
      <div class="general-value">
        <ul>
          <li>{{ supervisor?.firstName + ' ' + supervisor?.lastName }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
      <div class="general-label">Inżynierowie budowy:</div>
    </div>
    <div class="col-md-8">
      <div class="general-value">
        <ul>
          <li *ngFor="let engineer of engineers">{{ engineer.firstName + ' ' + engineer.lastName }}</li>
        </ul>
        <a class="add-engineer" (click)="addEngineer()">+ Dodaj inżyniera</a>
      </div>
    </div>
  </div>
  <br><p class="box-title">Koszty budowy</p>
  <button class="button__primary" mat-raised-button>
    Pokaż koszty budowy
  </button>
</div>
