<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Uwagi</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="engineer">Inżynier</label>
      <select class="form-control" id="engineer" rows="3" name="engineer">
        <option *ngFor="let engineer of engineers" [value]="engineer">{{ engineer }}</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Zapisz</button>
</div>
