<div class="container-fluid">
  <h2 class="my-buildings-title">Moje budowy</h2>
  <button class="button__primary" [disabled]="isUserSupervisor" (click)="openAddNewBuildingModal()" mat-raised-button>
    Dodaj nową budowę
  </button>

  <mat-tab-group class="mt-2 mb-2">
    <mat-tab label="Aktywne">
      <div class="white-background table-margin">
        <table>
          <thead>
            <tr>
              <td>Numer budowy</td>
              <td>Nazwa drogi</td>
              <td>Data rozpoczęcia</td>
              <td>Planowana data zakończenia</td>
              <td>Kierownik</td>
              <td>Inżynierowie</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activeBuilding of activeBuildings" [routerLink]="['/buildings/'+ activeBuilding.buildingNumber]">
              <td>{{ activeBuilding.buildingNumber }}</td>
              <td>{{ activeBuilding.roadName }}</td>
              <td>{{ activeBuilding.dateOfStart | date }}</td>
              <td>{{ activeBuilding.plannedDateOfFinish | date }}</td>
              <td>{{ activeBuilding.supervisor }}</td>
              <td>{{ activeBuilding.engineers }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Zakończone">
      <div class="white-background table-margin">
        <table>
          <thead>
            <tr>
              <td>Numer budowy</td>
              <td>Nazwa drogi</td>
              <td>Data rozpoczęcia</td>
              <td>Planowana data zakończenia</td>
              <td>Data zakończenia</td>
              <td>Kierownik</td>
              <td>Inżynierowie</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let finishedBuilding of finishedBuildings" [routerLink]="['/buildings/'+ finishedBuilding.buildingNumber]">
              <td>{{ finishedBuilding.buildingNumber }}</td>
              <td>{{ finishedBuilding.roadName }}</td>
              <td>{{ finishedBuilding.dateOfStart | date }}</td>
              <td>{{ finishedBuilding.dateOfFinish | date }}</td>
              <td>{{ finishedBuilding.plannedDateOfFinish | date }}</td>
              <td>{{ finishedBuilding.supervisor }}</td>
              <td>{{ finishedBuilding.engineers }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
