<div class="container-fluid">
  <h2 class="my-buildings-title">Moje budowy</h2>
  <button class="button__primary" [routerLink]="['/salaries']" mat-raised-button>
    Wyświetl pensje
  </button>
  <button class="button__primary" [disabled]="!isSupervisor" (click)="openAddNewBuildingModal()" mat-raised-button>
    Dodaj nową budowę
  </button>
  <mat-tab-group class="mt-2 mb-2">
    <mat-tab label="Aktywne">
      <div class="white-background table-margin">
        <table class="my-table my-table--pointer">
          <thead>
            <tr>
              <td>Numer budowy</td>
              <td>Nazwa drogi</td>
              <td>Data rozpoczęcia</td>
              <td>Planowana data zakończenia</td>
              <td>Kierownik</td>
              <td>Inżynierowie</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activeBuilding of activeBuildings" [routerLink]="['/buildings/'+ activeBuilding.id]">
              <td>{{ activeBuilding.id || '-' }}</td>
              <td>{{ activeBuilding.name }}</td>
              <td>{{ activeBuilding.plannedStartDate | date: 'd MMMM y':'':'pl'}}</td>
              <td>{{ activeBuilding.plannedEndDate | date: 'd MMMM y':'':'pl'}}</td>
              <td>{{ activeBuilding.supervisor?.firstName + ' ' + activeBuilding.supervisor?.lastName || '-' }}</td>
              <td>{{ getEngineersNames(activeBuilding.engineers) || '-' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Zakończone">
      <div class="white-background table-margin">
        <table class="my-table my-table--pointer">
          <thead>
            <tr>
              <td>Numer budowy</td>
              <td>Nazwa drogi</td>
              <td>Planowana data rozpoczęcia</td>
              <td>Planowana data zakończenia</td>
              <td>Realna data rozpoczęcia</td>
              <td>Realna data zakończenia</td>
              <td>Kierownik</td>
              <td>Inżynierowie</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let finishedBuilding of finishedBuildings" [routerLink]="['/buildings/'+ finishedBuilding.id]">
              <td>{{ finishedBuilding.buildingNumber }}</td>
              <td>{{ finishedBuilding.name }}</td>
              <td>{{ finishedBuilding.plannedStartDate | date: 'd MMMM y':'':'pl' }}</td>
              <td>{{ finishedBuilding.plannedEndDate | date: 'd MMMM y':'':'pl' }}</td>
              <td>{{ (finishedBuilding.realStartDate | date: 'd MMMM y':'':'pl') || '-'  }}</td>
              <td>{{ (finishedBuilding.realEndDate | date: 'd MMMM y':'':'pl') || '-'  }}</td>
              <td>{{ finishedBuilding.supervisor?.firstName + ' ' + finishedBuilding.supervisor?.lastName || '-' }}</td>
              <td>{{ getEngineersNames(finishedBuilding.engineers) || '-' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
