<div class="container-fluid">
    <div class="row justify-content-center align-items-center m-5">
        <div class="col-6">
            <div class="card">
                <div class="card-header"><p class="mb-3 logo text-center">Budfirmex</p></div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="Email" class="col-md-6">Adres e-mail</label>
                            <input type="email" id="Email" class="form-control col-md-6" required>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-md-6">Hasło</label>
                            <input type="password" id="Password" class="form-control col-md-6" required>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-link">Nie pamiętam hasła</a>
                        </div>
                        <div class="text-center">
                            <button type="submit" id="login" class="btn btn-warning my-3" (click)="btnClick()">Zaloguj się</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>