<app-machine-modal></app-machine-modal>
<p class="title-machines my-3">Maszyny</p>
<div class="table-responsive">
    <table class="table table-borderless">
        <thead class="table-head">
            <tr>
                <th>Lp.</th>
                <th>Numer maszyny</th>
                <th>Typ</th>
                <th>Operator</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>