<div class="container-fluid">
  <div class="white-container user-details">
    <div class="row">
      <div class="col-md-6">
        <div class="user-details__label">Inżynier budowy</div>
        <div class="user-details__value">{{ userName }}</div>
      </div>
      <div class="col-md-2">
        <ng-container *ngIf="isUserSupervisor">
          <div class="user-details__label--small">Numer uprawnień</div>
          <div class="user-details__value--small">{{ permissionNumber }}</div>
        </ng-container>
      </div>
      <div class="col-md-2">
        <div class="user-details__label--small">Aktualne budowy</div>
        <div class="user-details__value--small">{{ actualBuildingsCounter }}</div>
      </div>
      <div class="col-md-2">
        <div class="user-details__label--small">Zakończone budowy</div>
        <div class="user-details__value--small">{{ finishedBuildingsCounter }}</div>
      </div>
    </div>
  </div>
</div>
