<div class="container-fluid">
<app-operator-modal></app-operator-modal>
<p class="operators-title my-3">Operatorzy</p>
<div class="white-background table-margin">
    <table>
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Imię i nazwisko</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</div>