<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <h4 *ngIf="!doneWork">Dodaj robotę</h4>
      <h4 *ngIf="doneWork">Edytuj robotę</h4>
      <h5>Podaj informacje o rodzaju i ilości wykonanych tego dnia robót.</h5>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="form-group">
        <label for="type_work">Typ roboty</label>
        <select id="type_work" class="form-control">
          <option *ngFor="let labourNorm of labourNorms" [value]="labourNorm.id">{{ labourNorm.labourName }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="unit">Jednostka</label>
        <select id="unit" class="form-control">
          <option></option>
        </select>
      </div>
      <div class="form-group">
        <label for="harmful_hours">Ilość</label>
        <input type="text" id="harmful_hours" name="harmful_hours" class="form-control" required
          [(ngModel)]="model.harmful_hours" #harmful_hours="ngModel">
      </div>
      <ng-container *ngIf="harmful_hours.invalid && harmful_hours.touched">
        <div class="alert alert-danger" role="alert" *ngIf="harmful_hours.errors.required">
          Pole jest wymagane
        </div>
      </ng-container>
      <div class="form-group">
        <label for="standard">Norma czasu pracy</label>
        <input type="text" id="standard" name="standard" class="form-control" required [(ngModel)]="model.standard"
          #standard="ngModel">
      </div>
      <ng-container *ngIf="standard.invalid && standard.touched">
        <div class="alert alert-danger" role="alert" *ngIf="standard.errors.required">
          Pole jest wymagane
        </div>
      </ng-container>
      <div class="form-group">
        <label for="rating">Ocena jakości robót</label>
        <select id="rating" class="form-control">
          <option></option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!doneWork" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="createDoneWork()">Zapisz</button>
    <button *ngIf="doneWork" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="updateDoneWork()">Zmodyfikuj</button>
  </div>
</ng-template>

<button *ngIf="!doneWork" type="button" class="btn btn-warning float-end" (click)="open(content)"><svg xmlns="http://www.w3.org/2000/svg"
    width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
  </svg>
</button>
<button *ngIf="doneWork" (click)="open(content)">Edytuj</button>
