<div class="container-fluid">
  <app-materials-used-modal
    [brigadeDailyReportId]="brigadeDailyReport?.id"
    (refreshFromModal)="refreshData.emit()">
  ></app-materials-used-modal>
<h2 class="stuff-title">Materiały</h2>
<div class="white-background table-margin">
    <table>
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Materiał</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let materialUsed of materialsUsed">
                <td>{{ materialUsed.id}}</td>
                <td>{{ materialUsed.material.name + ' (' + materialUsed.quantity + ')'}}</td>
                <td>  <app-materials-used-modal
                  [materialUsed]="materialUsed"
                  [brigadeDailyReportId]="brigadeDailyReport?.id"
                  (refreshFromModal)="refreshData.emit()">
                  ></app-materials-used-modal></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
