<div class="d-flex labels-report-details">
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Numer budowy</th>
                    <th>Nazwa drogi</th>
                    <th>Data raportu</th>
                    <th>Pogoda</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><select><option></option></select></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    
    