<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <h4 *ngIf="!usedEquipment">Dodaj maszynę</h4>
      <h4 *ngIf="usedEquipment">Edytuj maszynę</h4>
      <h5>Podaj informacje o pracującej maszynie, jej operatorze i zakresie wykonanych prac.</h5>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="form-group">
        <label for="number_machine">Maszyna</label>
        <select id="number_machine" class="form-control">
          <option *ngFor="let machine of machines" [value]="machine.id">{{ machine.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="type_machine">Typ maszyny</label>
        <input type="text" id="type_machine" name="type_machine" class="form-control" required [(ngModel)]="model.type_machine" #type_machine="ngModel">
      </div>
      <ng-container *ngIf="type_machine.invalid && type_machine.touched">
        <div class="alert alert-danger" role="alert" *ngIf="type_machine.errors.required">
          Typ maszyny jest wymagany. Podaj typ maszyny.
        </div>
      </ng-container>
      <div class="form-group">
        <label for="power">Moc w KM</label>
        <input type="text" id="power" name="power" class="form-control" [disabled]="true" [value]="selectedMachine.power" required [(ngModel)]="model.power" #power="ngModel">
      </div>
      <ng-container *ngIf="power.invalid && power.touched">
        <div class="alert alert-danger" role="alert" *ngIf="power.errors.required">
          Moc jest wymagana. Wprowadź moc w koniach mechanicznych.
        </div>
      </ng-container>
      <div class="form-group">
        <label for="operator">Operator</label>
        <select id="operator" class="form-control">
          <option></option>
        </select>
      </div>
      <div class="form-group">
        <label for="rating">Ocena jakości robót</label>
        <select id="rating" class="form-control">
          <option></option>
        </select>
      </div>
      <div class="form-group">
        <label for="fuel">Zatankowane paliwo w litrach</label>
        <input type="text" id="fuel" name="fuel" class="form-control" required [(ngModel)]="model.fuel" #fuel="ngModel">
      </div>
      <ng-container *ngIf="fuel.invalid && fuel.touched">
        <div class="alert alert-danger" role="alert" *ngIf="fuel.errors.required">
          Ilość zatankowanego paliwa jest wymagana. Wpisz ilość paliwa w litrach.
        </div>
      </ng-container>
      <div class="form-group">
        <label for="starting_counter">Początkowy stan licznika</label>
        <input type="text" id="starting_counter" name="starting_counter" class="form-control" required [(ngModel)]="model.starting_counter" #starting_counter="ngModel">
      </div>
      <ng-container *ngIf="starting_counter.invalid && starting_counter.touched">
        <div class="alert alert-danger" role="alert" *ngIf="starting_counter.errors.required">
          Początkowy stan licznika jest wymagany. Wpisz wartość z licznika.
        </div>
      </ng-container>
      <div class="form-group">
        <label for="ending_counter">Końcowy stan licznika</label>
        <input type="text" id="ending_counter" name="ending_counter" class="form-control" required [(ngModel)]="model.ending_counter" #ending_counter="ngModel">
      </div>
      <ng-container *ngIf="ending_counter.invalid && ending_counter.touched">
        <div class="alert alert-danger" role="alert" *ngIf="ending_counter.errors.required">
          Końcowy stan licznika jest wymagany. Wpisz wartość z licznika.
        </div>
      </ng-container>
      <div class="form-group">
        <label for="daily_task">Operator</label>
        <select id="daily_task" class="form-control">
          <option></option>
        </select>
      </div>
      <div class="form-group">
        <label for="comments">Uwagi</label>
        <textarea class="form-control" id="comments" name="comments" rows="3" required [(ngModel)]="model.comments" #comments="ngModel"></textarea>
      </div>
      <ng-container *ngIf="comments.invalid && comments.touched">
        <div class="alert alert-danger" role="alert" *ngIf="comments.errors.required">
          Uwagi są wymagane. Wpisz uwagi.
        </div>
      </ng-container>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!usedEquipment" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="createUsedMachine()">Zapisz</button>
    <button *ngIf="usedEquipment" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="updateUsedMachine()">Modyfikuj</button>
  </div>
</ng-template>


<button *ngIf="usedEquipment">Edytuj</button>
<button *ngIf="!usedEquipment" type="button" class="btn btn-warning float-end" (click)="open(content)"><svg xmlns="http://www.w3.org/2000/svg"
    width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
  </svg>
</button>
