<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <h4 *ngIf="!usedEquipment">Dodaj maszynę</h4>
      <h4 *ngIf="usedEquipment">Edytuj maszynę</h4>
      <h5>Podaj informacje o pracującej maszynie, jej operatorze i zakresie wykonanych prac.</h5>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="form-group">
        <label for="number_machine">Maszyna</label>
        <select id="number_machine" class="form-control" name="machine" [(ngModel)]="model.machineId" #machine="ngModel" required>
          <option *ngFor="let machine of machines" [value]="machine.id">{{ machine.name }} ({{machine.number}})</option>
        </select>
        <ng-container *ngIf="machine.invalid && machine.touched">
          <div class="alert alert-danger" role="alert" *ngIf="machine.errors.required">
            Wybierz maszynę.
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="type_machine">Spalanie (litr na roboczogodzinę)</label>
        <input type="text" id="type_machine" name="type_machine" class="form-control" disabled [value]="getSelectedMachine()?.fuelConsumption">
      </div>
      <div class="form-group">
        <label for="power">Moc w KM</label>
        <input type="text" id="power" name="power" class="form-control" [disabled]="true" [value]="getSelectedMachine()?.power" required>
      </div>
      <div class="form-group">
        <label for="power">Pojemność zbiornika (w litrach)</label>
        <input type="text" id="capacity" name="capacity" class="form-control" [disabled]="true" [value]="getSelectedMachine()?.tankCapacity" required >
      </div>
      <div class="form-group">
        <label for="year">Pojemność zbiornika (w litrach)</label>
        <input type="text" id="year" name="year" class="form-control" [disabled]="true" [value]="getSelectedMachine()?.yearOfProduction" required >
      </div>
      <div class="form-group">
        <label for="operator">Operator</label>
        <select id="operator" name="operator" class="form-control" [(ngModel)]="model.workerId" #operator="ngModel" required>
          <option *ngFor="let worker of workers" [value]="worker.id">{{worker.firstName + ' ' + worker.lastName}}</option>
        </select>
        <ng-container *ngIf="operator.invalid && operator.touched">
          <div class="alert alert-danger" role="alert" *ngIf="operator.errors.required">
            Wybierz operatora.
          </div>
        </ng-container>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!usedEquipment" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="createUsedMachine()">Zapisz</button>
    <button *ngIf="usedEquipment" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="updateUsedMachine()">Modyfikuj</button>
  </div>
</ng-template>


<button class="button__primary" *ngIf="usedEquipment" (click)="open(content)" mat-raised-button>Edycja</button>
<button *ngIf="!usedEquipment" type="button" class="btn btn-warning float-end" (click)="open(content)"><svg xmlns="http://www.w3.org/2000/svg"
    width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
  </svg>
</button>
