@import "variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $primary-font;
  background-color: $color-grey;
}

table {
  width: 100%;
  font-family: $primary-font;
  thead {
    color: rgba($color-black, 0.4);
    font-size: 12px;
    font-weight: 600;
    padding: 0 8px;

    tr td {
      padding: 16px;
    }
  }
  tbody {
    color: rgba($color-black, 0.9);
    font-size: 14px;
    font-weight: 600;

    tr {
      border-top: 1px solid rgba($color-black, 0.1);
      border-left: 1px solid rgba($color-black, 0.1);
      border-right: 1px solid rgba($color-black, 0.1);
      &:last-child {
        border-bottom: 1px solid rgba($color-black, 0.1);
      }
      &:hover {
        background-color: rgba($color-yellow, 0.15);
      }
      td {
        padding: 7px 16px;
      }
    }
  }
}

.white-container {
  width: 100%;
  background-color: $color-white;
  border-radius: 6px;
  padding: 32px 24px;
}

.white-background {
  width: 100%;
  background-color: $color-white;
}
@import "variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $primary-font;
  background-color: $color-grey;
}

table {
  width: 100%;
  font-family: $primary-font;
  thead {
    color: rgba($color-black, 0.4);
    font-size: 12px;
    font-weight: 600;
    padding: 0 8px;
  }
  tbody {
    color: rgba($color-black, 0.9);
    font-size: 14px;
    font-weight: 600;
  }
}

.white-container {
  width: 100%;
  background-color: $color-white;
  border-radius: 6px;
  padding: 32px 24px;
}

.white-background {
  width: 100%;
  background-color: $color-white;
}
