<app-work-modal></app-work-modal>
<p class="title-works my-3">Roboty</p>
<div class="table-responsive">
    <table class="table table-borderless">
        <thead class="table-head">
            <tr>
                <th>Lp.</th>
                <th>Typ roboty</th>
                <th>Jednostka</th>
                <th>Ilość</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>