<div class="container-fluid">
    <app-worker-modal></app-worker-modal>
    <h2 class="workers-title">Robotnicy</h2>
    <div class="white-background table-margin">
        <table>
            <thead>
                <tr>
                    <th>Lp.</th>
                    <th>Imię i nazwisko</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>