<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <h4 *ngIf="!operatorWorkCard">Dodaj operatora</h4>
      <h4 *ngIf="operatorWorkCard">Edytuj operatora</h4>
      <h5>Podaj informacje o czasie i warunkach pracy.</h5>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="form-group">
        <label for="name_sur">Pracownik</label>
        <select id="name_sur" name="worker" class="form-control" [(ngModel)]="model.workerId" #worker="ngModel" required>
          <option *ngFor="let worker of workers" [value]="worker.id">{{ worker.firstName + ' ' + worker.lastName }}</option>
        </select>
        <ng-container *ngIf="worker.invalid && worker.touched">
          <div class="alert alert-danger" role="alert" *ngIf="worker.errors.required">
            Wybierz pracownika.
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="work_day">Dzień pracy</label>
        <input id="work_day" type="date" name="date_of_work" class="form-control" [(ngModel)]="model.dateOfWorkCard" #date_of_work="ngModel" required>
        <ng-container *ngIf="date_of_work.invalid && date_of_work.touched">
          <div class="alert alert-danger" role="alert" *ngIf="date_of_work.errors.required">
            Wybierz dzień pracy.
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="work_start">Rozpoczęcie pracy</label>
        <input id="work_start" type="time" name="work_start" class="form-control" step="2" [(ngModel)]="model.timeOfBegin" #work_start="ngModel" required>
        <ng-container *ngIf="work_start.invalid && work_start.touched">
          <div class="alert alert-danger" role="alert" *ngIf="work_start.errors.required">
            Wybierz godzinę rozpoczęcia pracy.
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="work_end">Zakończenie pracy</label>
        <input id="work_end" type="time" name="work_end" class="form-control" step="2" [(ngModel)]="model.timeOfEnd" #work_end="ngModel" required>
        <ng-container *ngIf="work_end.invalid && work_end.touched">
          <div class="alert alert-danger" role="alert" *ngIf="work_end.errors.required">
            Wybierz godzinę zakończenia pracy.
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="harmful_hours">Liczba godzin w warunkach szkodliwych</label>
        <input type="text" id="harmful_hours" name="harmful_hours" class="form-control" required [(ngModel)]="model.harmfulHours" #harmful_hours="ngModel">
      </div>
      <ng-container *ngIf="harmful_hours.invalid && harmful_hours.touched">
        <div class="alert alert-danger" role="alert" *ngIf="harmful_hours.errors.required">
          Liczba godzin jest wymagana. Wpisz liczbę godzin.
        </div>
      </ng-container>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!operatorWorkCard" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="createOperatorWorkCard()">Zapisz</button>
    <button *ngIf="operatorWorkCard" type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="updateOperatorWorkCard()">Zmodyfikuj</button>
  </div>
</ng-template>

<button class="button__primary" *ngIf="operatorWorkCard" (click)="open(content)" mat-raised-button>Edycja</button>
<button *ngIf="!operatorWorkCard" type="button" class="btn btn-warning float-end" (click)="open(content)"><svg xmlns="http://www.w3.org/2000/svg"
    width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
  </svg>
</button>
